@font-face {
	font-family: "milonga";
	src: url("/fonts/milonga.ttf");
}

a.navbar-brand img {
	float: left;
}

html, body {
	height: 100%
}

div#main {
	height: 100%;
}

div.club-house-back {
	background-color: #fcfcfc;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("/img/club_house_blanco.png");
	height: 100%;
	min-height: 100%;
	padding-top: 10px;
}

div.acceso-barrio-back {
	background-image: url("/img/acceso_barrio.jpg");
	background-size: cover;
	height: 100%;
}

a.deco-none {
	color: inherit;
	text-decoration:none;
}

th.sortable {
  color: blue;
  cursor: pointer;
}

td.nowrap {
  white-space: nowrap;
}

li.winner {
	font-weight: bold;
	background-color: #000077;
	color: white;
	text-transform: uppercase;
}